:root {
    --mono7: hsl(0, 0%, 10%);
    --mono6: hsl(0, 0%, 20%);
    --mono5: hsl(0, 0%, 30%);
    --mono4: hsl(0, 0%, 40%);
    --mono3: hsl(0, 0%, 60%);
    --mono2: hsl(0, 0%, 80%);
    --mono1: hsl(0, 0%, 90%);
    --mono0: hsl(0, 0%, 100%);
    --teal3: hsl(180, 100%, 20%);
    --teal2: hsl(180, 60%, 40%);
    --teal1: hsl(180, 60%, 70%);
    --teal0: hsl(180, 100%, 90%);
    
}

html {
    font-family: 'Courier New', monospace;
    background-color: var(--mono7);
}

body {
    transition: 0.5s;
    font-size: calc(0.8rem + 0.9vw);
    margin: 1%;
    padding: 8px;
}

h1 {
    color: var(--mono0);
    background-color: var(--mono6);
    font-weight: bold;
    border-radius: 25px;
    margin: auto auto 20px auto;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
}

h2 {
    color: var(--mono0);
    background-color: var(--mono6);
    font-weight: bold;
    border-radius: 25px;
    margin: auto auto 20px auto;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
}

h3 {
    color: var(--mono0);
    background-color: var(--mono6);
    font-weight: bold;
    border-radius: 25px;
    margin: auto auto 20px auto;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
}

h4 {
    color: var(--mono0);
    background-color: var(--mono6);
    font-weight: bold;
    border-radius: 25px;
    margin: auto auto 20px auto;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
}

h5 {
    color: var(--mono0);
    background-color: var(--mono6);
    font-weight: bold;
    border-radius: 25px;
    margin: auto auto 20px auto;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
}

h6 {
    color: var(--mono0);
    background-color: var(--mono6);
    font-weight: bold;
    border-radius: 25px;
    margin: auto auto 20px auto;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
}

p {
    color: var(--mono1);
    background-color: var(--mono6);
    border-radius: 15px;
    margin: auto auto 20px auto;
    padding: 10px 20px;
    min-width: 50%;
    width: auto;
    height: auto;
    text-align: center;
}  

ol:not(ol ol), ul:not(ul ul) {
    color: var(--mono1);
    background-color: var(--mono6);
    list-style-position: inside;
    border-radius: 15px;
    margin: auto auto 20px auto;
    padding: 10px 15px;
    min-width: 50%;
}

table {
    color: var(--mono1);
    background-color: var(--mono6);
    list-style-position: inside;
    border-radius: 15px;
    margin: auto auto 20px auto;
    padding: 10px 15px;
    min-width: 50%;
}

td {
    color: var(--mono2);
    background-color: var(--mono5);
    list-style-position: inside;
    border-radius: 15px;
    margin: 10px 20px;
    padding: 10px 15px;
}

a:link{
    transition-duration: 0.2s;
    color: var(--teal1);
    text-decoration: none; 
    border-radius: 60px;
    box-shadow: 0 0 6px 9px rgba(0, 0, 0, 0); /* No shadow initially */
}

a:visited {
    transition-duration: 0.2s;
    color: var(--teal1);
    text-decoration: none; 
    border-radius: 60px;
    box-shadow: 0 0 6px 9px rgba(0, 0, 0, 0); /* No shadow initially */
}

a:hover {
    transition-duration: 0.2s;
    color: var(--teal0);
    text-decoration: none; 
    background-color: var(--teal3);
    border-radius: 15px;
    box-shadow: 0 0 0 6px var(--teal3); /* Add visual effect */
}

img {
    border-radius: 25px;
    display: block;
    margin: auto auto 20px auto;
    max-width: 100%;
    text-align: center;
}